.tag {
  background-color: #f98f0d9a;
  font-size: 12px;
  padding: 6px;
  border-radius: 0;
  margin-left: 5px;
  transition: all 0.25s;
}

.tag:hover {
  background-color: #f98f0d;
}

.tag .icon {
  font-size: 12px;
  padding-left: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.tag .icon:hover {
  color: rgb(80, 80, 80);
}
