.card {
  position: relative;
  height: 25vh;
  width: 28vw;

  padding-left: 20px;
  padding-top: 16px;

  background-color: var(--app-primary-color);
  border-radius: 24px;
  border: 1px solid var(--app-light-grey);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: all 0.25s;
}

.card:hover {
  border-radius: 30px;
}

.card .more {
  position: absolute;
  top: 0;
  right: 0;

  margin: 16px;
  padding: 8px;
  border-radius: 24px;

  color: var(--app-primary-text-color);

  cursor: pointer;
  transition: all 0.25s;
}

.card .more:hover {
  background-color: var(--app-primary-hover-color);
}

.card .menu {
  width: 190px;
  height: 50px;
  z-index: 3;

  position: absolute;
  right: 1%;
  top: 22%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin: 0;
  padding: 0;
}

.card .menu .menu-item {
  background-color: var(--app-primary-color);
  border: 2px solid var(--app-light-grey);

  opacity: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  padding: 12px;
  margin-top: 12px;

  cursor: pointer;
  transition: background-color 0.5s linear 0s, margin-top 0.3s linear 0s,
    opacity 0.3s linear 0s;
}

.card .menu .menu-item.hiddens {
  margin-top: 0;
  opacity: 0;
  transition: all 0.3s;
}

.card .menu .menu-item.edit {
  transition: background-color 0.5s linear 0s, margin-top 0.3s linear 0.1s,
    opacity 0.3s linear 0.1s;
}

.card .menu .menu-item.delete {
  transition: background-color 0.5s linear 0s, margin-top 0.3s linear 0.2s,
    opacity 0.3s linear 0.2s;
}

.card .menu .menu-item:hover {
  background-color: #f3f3f3;
}

.card .menu .menu-item.red {
  color: red;
}

.card .menu .menu-item.red .text {
  color: red;
}

.card .menu .menu-item .text {
  color: var(--app-primary-text-color);
  font-size: 14px;

  margin: 0;
}

.card p {
  color: var(--app-primary-text-color);
}

.card .title {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0;
  cursor: pointer;
  /* display: inline; */

  width: 80%;
  max-width: 80%;

  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

.card .title:hover {
  text-decoration: underline var(--app-primary-text-color);
}

.card .desc {
  font-size: 0.8rem;
  margin: 3px 4px 2px 0;

  width: 80%;
  max-width: 80%;

  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

.card .tags {
  margin-bottom: 6px;
}

.card .tag {
  font-size: 0.6rem;
  margin: 4px 4px 0 0;
  cursor: pointer;
  font-weight: normal;
  border-radius: 12px;
}

.card .bottom {
  position: absolute;
  bottom: 0;
}

.card .bottom .created-by {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 16px 0;
  color: var(--app-grey);
}

.card .bottom .created-by span {
  font-weight: bold;
  color: var(--app-primary-text-color);
}

.long-card {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid var(--app-light-grey);

  width: 100%;
  height: 25vh;

  background-color: var(--app-primary-color);
  border-radius: 24px;
  box-shadow: none;

  padding-left: 2vw;
  padding-top: 1.5vh;
  padding-bottom: 1vh;

  transition: all 0.25s;
}

.long-card:hover {
  background-color: var(--app-primary-hover-color);
  box-shadow: 2px 2px 4px var(--app-light-grey);
}

.long-card .title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0;
  cursor: pointer;
  color: var(--app-primary-text-color);
}

.long-card .title:hover {
  text-decoration: 2px underline;
}

.long-card .desc {
  font-size: 0.8rem;
  margin: 3px 4px 2px 0;
  color: var(--app-grey);
}

.long-card .tags {
  margin-bottom: 6px;
}

.long-card .tag {
  font-size: 0.6rem;
  margin: 4px 4px 0 0;
  cursor: pointer;
  font-weight: normal;
  margin-bottom: 8px;
}

.long-card .bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 12px;
}

.long-card .bottom .created-by {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--app-grey);
}

.long-card .bottom .created-by span {
  color: var(--app-primary-text-color);
  font-weight: bold;
}

.long-card .right {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding-right: 5vw;
}

.long-card .right .length {
  color: var(--app-primary-text-color);
}

.long-card .right .length .icon {
  padding-right: 4px;
}
