.card {
  position: relative;
  height: 25vh;

  padding-left: 20px;
  padding-top: 16px;

  box-shadow: none;

  background-color: var(--app-primary-color);
  border: 2px solid var(--app-secondary-color);
  border-radius: 24px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: all 0.25s;
}

.card:hover {
  border-radius: 30px;
}

.card .more {
  position: absolute;
  top: 0;
  right: 0;

  margin: 16px;
  padding: 8px;
  border-radius: 24px;

  color: var(--app-primary-text-color);

  cursor: pointer;
  transition: all 0.25s;
}

.card .more:hover {
  background-color: var(--app-primary-hover-color);
}

.card .menu.hidden {
  display: none;
}

.card .menu {
  width: 37%;
  border: 2px solid var(--app-secondary-color);
  z-index: 3;
  max-width: 200px;

  position: absolute;
  right: 3%;
  top: 20%;
  border-radius: 16px;

  margin: 0;
  padding: 0;

  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.card .menu .menu-item:nth-child(1) {
  border-radius: 16px 16px 0 0;
}

.card .menu .menu-item:last-child {
  border-radius: 0 0 16px 16px;
}

.card .menu .menu-item {
  background-color: var(--app-primary-color);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 12px;

  cursor: pointer;
  transition: all 0.25s;
}

.card .menu .menu-item:hover {
  background-color: #f3f3f3;
}

.card .menu .menu-item.red {
  color: red;
}

.card .menu .menu-item.red .text {
  color: red;
}

.card .menu .menu-item:not(:first-child) {
  border-top: 2px solid var(--app-secondary-color);
}

.card .menu .menu-item .text {
  color: var(--app-primary-text-color);
  font-size: 14px;

  margin: 0;
}

.card p {
  color: var(--app-primary-text-color);
}

.card .title {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0;
  cursor: pointer;
  display: inline;
}

.card .title:hover {
  text-decoration: underline var(--app-primary-text-color);
}

.card .desc {
  font-size: 0.8rem;
  margin: 3px 4px 2px 0;
}

.card .tag {
  font-size: 0.6rem;
  margin: 4px 4px 0 0;
  cursor: pointer;
  font-weight: normal;
  border-radius: 12px;
}

.card .bottom {
  position: absolute;
  bottom: 0;
}

.card .bottom .created-by {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 16px 0;
  color: var(--app-grey);
}

.card .bottom .created-by span {
  font-weight: bold;
  color: var(--app-primary-text-color);
}

.long-card {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: 25vh;

  background-color: var(--app-primary-color);
  border: 1px solid var(--app-grey);
  border-radius: 24px;
  box-shadow: none;

  padding-left: 2vw;

  transition: all 0.25s;
}

.long-card:hover {
  background-color: var(--app-primary-hover-color);
  box-shadow: 4px 4px 4px var(--app-shadow);
}

.long-card .title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0;
  cursor: pointer;
  color: var(--app-primary-text-color);
}

.long-card .title:hover {
  text-decoration: 2px underline;
}

.long-card .desc {
  font-size: 0.8rem;
  margin: 3px 4px 2px 0;
  color: var(--app-grey);
}

.long-card .tag {
  font-size: 0.6rem;
  margin: 4px 4px 0 0;
  cursor: pointer;
  font-weight: normal;
}

.long-card .bottom {
  position: absolute;
  bottom: 0;
}

.long-card .bottom .created-by {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--app-grey);
}

.long-card .bottom .created-by span {
  color: var(--app-primary-text-color);
  font-weight: bold;
}

.long-card .right {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding-right: 5vw;
}

.long-card .right .length {
  color: var(--app-primary-text-color);
}

.long-card .right .length .icon {
  padding-right: 4px;
}
