.overlay {
  position: fixed;
  z-index: 3000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100vw;
  height: 100vh;

  background-color: #0000006a;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 35vw;
  height: 60vh;
  background-color: #fff;
  z-index: 4000;

  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 12px;
  border: 2px solid var(--app-light-grey);
}

.modal .modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-left: 16px;
  padding-right: 16px;

  border-bottom: 1px solid var(--app-light-grey);
}

.modal .modal-header .title {
  color: #000;
}

.modal .modal-header .close {
  cursor: pointer;
}
.modal .modal-header .close:hover {
  color: rgb(108, 108, 108);
}

.modal .content {
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
