.searchbar-container {
  width: 100%;
  height: 100%;
}

.searchbar {
  background-color: var(--app-primary-color);
  width: 99%;
  padding: 15px;
  border: 1px solid var(--app-secondary-color);
  border-radius: 0;
  font-family: "Lexend";
  font-size: 14px;
}

.searchbar:focus {
  outline: 1px solid var(--app-secondary-color);
}
