/* loading screen */

.spinner-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-page .pi {
  color: var(--app-theme-color);
  font-size: 5rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--app-background-color-trans);

  width: 100vw;
  height: 10vh;

  position: fixed;
  top: 0;
  z-index: 1000;

  padding-right: 14px;

  transition: 0.25s;
}

.nav .logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.nav .logo-container .text-container {
  display: flex;
  flex-direction: column;
}

.nav .nav-logo {
  display: inline;
  color: var(--app-primary-text-color);
  font-family: "Lexend";
  font-weight: 600;
  font-size: 28px;

  margin: 0;
}

.nav .nav-caption {
  margin: 2px 0 0 25px;
  font-size: 14px;
  font-weight: 300;
  color: grey;
  font-style: italic;
}

.nav .img {
  width: 80px;
  height: 80px;
}

/* list of items */

.nav-items {
  display: flex;
  height: 8vh;
  align-items: center;
  justify-content: flex-end;
}

.nav .nav-items .nav-item {
  float: right;
  padding: 12px;
  transition: all 0.25s;
  border-radius: 24px;
  margin-right: 12px;
  cursor: pointer;
}

.nav .nav-items .nav-item .nav-switch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .nav-items .nav-item.nav-button {
  display: inline;
}

.nav .nav-items .nav-item.nav-button {
  font-size: 14px;
  color: var(--app-primary-text-color);
}

.nav .nav-items .nav-item .nav-link {
  color: var(--app-primary-text-color);
  text-decoration: none;
  font-family: "Lexend";
}

.nav-account {
  padding: 6px !important;
  transition: all 0.25s;
}

.hover-underline {
  position: relative;
}

.hover-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--app-primary-text-color);
  transition: all 0.25s cubic-bezier(0.4, 0.82, 0.165, 1);
}

.hover-underline:hover::after {
  transform: scaleX(1);
}

.nav-account:hover {
  border: 1px solid var(--app-light-grey);
  background-color: transparent !important;
}

.last {
  margin-right: 2vw !important;
}

.hidden {
  display: none !important;
  transition: all 1s;
}

.nav-cancel {
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 24px;
  color: red;
  background-color: #ffcfcf;
}

.nav-cancel:hover {
  background-color: #ffb8b8 !important;
}

.nav-long-item {
  display: block;
  padding: 12px;
  width: 100vw;
  background-color: var(--app-primary-color);
  z-index: 3;
  border-bottom: 1px solid var(--app-secondary-color);
  cursor: pointer;
  transition: all 0.25s;
}

.nav-long-item:hover {
  background-color: #e5e5e5;
}

.nav-long-item.clicked {
  background-color: #c4c4c4;
}

.nav-long-item .nav-link {
  text-decoration: none;
  color: var(--app-secondary-color) 000;
}

.nav-long-item:nth-child(1) {
  margin-top: 8vh;
}

.nav-link.nav-user-link {
  margin-left: 16px;
}

/* user menu styling */

.nav .user-menu {
  position: fixed;
  top: 11vh;
  right: 1vw;

  border: 2px solid var(--app-light-grey);

  width: 15vw;

  display: flex;
  flex-direction: column;

  background-color: var(--app-primary-color);

  border-radius: 24px;
  transition: all 0.5s;
}

.nav .user-menu.hidden {
  display: block !important;
  right: -20vw;
  opacity: 0;
}

.nav .user-menu .user-link:nth-child(1) {
  border-radius: 24px 24px 0 0;
}

.nav .user-menu .user-link:last-child {
  border-radius: 0 0 24px 24px;
}

.nav .user-menu .user-link {
  width: 100%;

  background-color: var(--app-primary-color);

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 12px 16px;

  transition: all 0.5s;
}
.nav .user-menu .user-link:hover {
  background-color: var(--app-primary-hover-color);
}

.nav .user-menu .user-link p {
  margin: 0;
  color: var(--app-primary-text-color);
}

.nav .user-menu .user-link .icon {
  color: var(--app-primary-text-color);
}

.nav .user-menu .user-link.log-out p,
.nav .user-menu .user-link.log-out .icon {
  color: red;
}

.nav .user-menu .divider {
  width: 100%;
  height: 1px;
  background-color: #7e7e7e;
}

/* sidebar styling */

.nav-menu {
  padding: 12px 16px !important;
  display: none;
}

.sidebar {
  height: 100vh;
  width: 40vw;

  position: fixed;
  top: 0;
  left: 0;

  background-color: #fff;

  box-shadow: 10px 10px 10px #00000030;

  z-index: 2001;

  transition: all 0.5s;

  display: none;
}

.sidebar.hidden {
  left: calc(-40vw - 2px);
}

.sidebar .top {
  width: 100%;
  height: 6vh;

  padding: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sidebar .top .logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.sidebar .top .icon {
  cursor: pointer;
}

.sidebar .items {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  margin-top: 3vh;
}

.sidebar .items .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: #fff;

  width: 100%;

  padding: 16px;

  transition: all 0.25s;

  cursor: pointer;
}

.sidebar .items .item:hover {
  background-color: #eaeaea;
}

.sidebar .items .item .text {
  margin: 0;
}

.sidebar .items .item .icon {
  margin-right: 8px;
}

.sidebar .items .item.log-out {
  color: red;
}

.sidebar .items .divider {
  width: 90%;
  height: 2px;

  background-color: #7a7a7a;

  margin: 8px;
}

/* overlay styling */

.body-wrapper {
  width: 100vw;
  margin-top: 10vh;
  padding-right: 14px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #000;
  opacity: 0.2;

  z-index: 2000;

  transition: all 0.5s;
}

@media screen and (max-width: 877px) {
  .sidebar {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
  }

  .overlay {
    display: block !important;
  }

  .nav-hide {
    display: none !important;
  }

  .nav-menu {
    display: block !important;
  }
}
