.anim-card {
  width: 240px;
  height: 150px;
  border-radius: 12px;
  border: 2px solid #000;
  background-color: #fff;
  animation: 2s flip infinite ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anim-card .text-1 {
  height: 10px;
  width: 5%;
  background-color: #000000;
  border-radius: 24px;
}

.anim-card .text-2 {
  height: 10px;
  width: 25%;
  margin-left: 2%;
  background-color: #000000;
  border-radius: 24px;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}
