.add-cards-page-1 {
  height: 90vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-cards-page-1 .container {
  width: 90vw;
  height: 70vh;

  display: flex;
  flex-direction: column;
}

.add-cards-page-1 .container .error {
  color: red;
  margin-top: 4px;
}

.add-cards-page-1 .container .question-container {
  width: 100%;
}

.add-cards-page-1 .container .question-container #question {
  width: 100%;
  padding: 12px;

  /* border: 1px solid var(--app-light-grey); */
  border-radius: 4px;
  margin-top: 4px;
}

.add-cards-page-1 .container .question-container #question:focus {
  outline: black;
}

.add-cards-page-1 .container .answer-container {
  height: 60vh;
  margin-top: 2vh;
}

.add-cards-page-1 .container .answer-container .editor-container {
  height: 90%;
}

.add-cards-page-1 .button-block {
  margin-top: 2vh;
}
