.button {
  padding: 16px;
  background-color: var(--app-theme-color);
  border: none;
  border-radius: 0;
  color: var(--app-primary-text-color);
  font-family: "Lexend";
  font-size: 14px;
  cursor: pointer;
  transition: 0.25s;
  border: 2px solid var(--app-primary-text-color);
}

.button:hover {
  background-color: var(--app-theme-hover-color);
}

.button-icon {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: 0.25s;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-icon:hover {
  background-color: #e6e6e6;
}

.button-icon .pi {
  color: var(--app-var(--app-grey));
  font-size: 20px;
}

.button-block {
  padding: 16px;
  background-color: var(--app-theme-color);
  border: none;
  border-radius: 0;
  color: var(--app-primary-text-color);
  font-family: "Lexend";
  font-size: 14px;
  cursor: pointer;
  transition: 0.25s;
  width: 90%;
  border: 2px solid var(--app-primary-text-color);
}

.bottom {
  position: absolute;
  bottom: 2vh;
}

.button-block:hover {
  background-color: var(--app-theme-hover-color);
}

.button-block:disabled,
.button:disabled {
  background-color: #ecaf66;
  cursor: auto;
}

.button-block:disabled:hover,
.button:disabled:hover {
  background-color: #ecaf66;
  box-shadow: none;
}

.button-glass {
  background-color: transparent;
  color: var(--app-primary-text-color);
}

.button-glass:hover {
  background-color: #d0d0d068;
  box-shadow: none;
}

.button-glass .icon {
  padding-left: 6px;
}

.button-icon:disabled {
  background-color: #e8e8e8;
  pointer-events: none;
}

.blur {
  filter: blur(5px);
  opacity: 0.6;
}

.button-group {
  display: flex;
  flex-direction: row;
}

.button-group .button {
  border-radius: 0;
}

.button-group .button:hover {
  box-shadow: none;
}

.button-group .button.active {
  background-color: #ff6600;
}

.button-group .button.active:hover {
  background-color: #df6310;
}
