.button {
  padding: 16px;
  background-color: #7a2ef3;
  border: none;
  border-radius: 16px;
  color: var(--app-primary-color);
  font-family: "Mulish";
  font-size: 14px;
  cursor: pointer;
  transition: 0.25s;
}

.button:hover {
  background-color: #680df9;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.57);
}

.button-icon {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.25s;
}

.button-icon:hover {
  background-color: #cbcbcb;
}

.button-icon .pi {
  color: var(--app-grey);
  font-size: 20px;
}

.button-block {
  padding: 12px;
  background-color: #7a2ef3;
  border: none;
  border-radius: 12px;
  color: var(--app-primary-color);
  font-family: "Mulish";
  font-size: 16px;
  cursor: pointer;
  transition: 0.25s;
  width: 90%;
}

.bottom {
  position: absolute;
  bottom: 2vh;
}

.button-block:hover {
  background-color: #680df9;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.57);
}

.button-block:disabled,
.button:disabled {
  background-color: #bd97fa;
  cursor: auto;
}

.button-block:disabled:hover,
.button:disabled:hover {
  background-color: #bd97fa;
  box-shadow: none;
}

.button-glass {
  background-color: transparent;
  color: #000;
}

.button-glass:hover {
  background-color: #d0d0d068;
  box-shadow: none;
}

.button-glass .icon {
  padding-left: 6px;
}
