.dashboard-page-1 {
  display: flex;
  flex-direction: column;
}

.dashboard-page-1.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-page-1.loading .icon {
  font-size: 2rem;
  color: var(--app-theme-color);
}

/* header */

.dashboard-page-1 .header {
  background-color: var(--app-primary-color);
  width: 100vw;
  height: 25vh;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;

  display: flex;
  flex-direction: column;

  padding: 1vw;

  transition: all 0.25s;
}

.dashboard-page-1 .header .name {
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--app-primary-text-color);
}

.dashboard-page-1 .header .stats {
  width: 100%;
  height: 90%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  color: var(--app-primary-text-color);
}

.dashboard-page-1 .header .stats .big {
  font-size: 3rem;
  font-weight: bold;

  color: var(--app-primary-text-color);
}

.dashboard-page-1 .header .stats > div {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ! my decks */

.dashboard-page-1 .my-decks {
  width: 100vw;
  height: 70vh;

  display: flex;
  flex-direction: column;

  padding: 2vw;
}

.dashboard-page-1 .my-decks .placeholder {
  color: var(--app-primary-text-color);
}

.dashboard-page-1 .my-decks .title {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--app-primary-text-color);
}

.dashboard-page-1 .my-decks .title .icon {
  font-size: 1.2rem;
  color: grey;
  cursor: pointer;
}

.dashboard-page-1 .my-decks .decks {
  height: 90%;
  width: 100vw;
  flex-wrap: wrap;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1vw;
}

.dashboard-page-1 .my-decks .decks.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-page-1 .my-decks .decks .card {
  flex-basis: 30%;
  width: 30vw;
}

@media screen and (max-width: 1125px) {
  .dashboard-page-1 .my-decks .decks .card {
    flex-basis: 47%;
    width: 47vw;
  }
}

@media screen and (max-width: 730px) {
  .dashboard-page-1 {
    display: flex;
    flex-direction: column;
    height: 200vh !important;
  }

  .dashboard-page-1 .my-decks .decks {
    height: 90%;
    width: 100vw;
    flex-wrap: wrap;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
  }

  .dashboard-page-1 .my-decks .decks .card {
    flex-basis: 94%;
    width: 94vw;
  }
}
