.flashcard-page-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashcard-page-1 .controls-container {
  display: flex;
  flex-direction: column;
}

.flashcard-page-1 .controls-container .controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  align-items: center;
  height: 10vh;
}

.flashcard-page-1 .controls-container .controls > div {
  display: flex;
  flex-direction: row;
}

.flashcard-page-1 .controls-container .controls .button-icon .pi {
  color: var(--app-primary-text-color);
}

.flashcard-page-1 .controls-container .controls .button-icon {
  background-color: var(--app-background-color);
}

.flashcard-page-1 .controls-container .controls .button-icon:hover {
  background-color: var(--app-primary-color);
}

.flashcard-page-1 .controls-container .controls .button-icon:disabled {
  background-color: var(--app-primary-hover-color);
}

.flashcard-page-1 .controls-container .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px;
  margin-top: 8px;
}

.flashcard-page-1 .controls-container .number .num {
  display: inline;
  margin: 0;
}
