.home-page-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--app-primary-color) !important;

  height: 140vh !important;
}

.home-page-1 .part-1 {
  display: flex;
  justify-content: center;
  position: relative;

  width: 100vw;
  height: 100vh;
}

.home-page-1 .scroll {
  position: absolute;
  bottom: 0;
  margin-bottom: 64px;

  color: var(--app-primary-text-color);
  font-size: 22px;

  animation: scroll 2s infinite;
}

@keyframes scroll {
  0% {
    margin-bottom: 64px;
  }

  50% {
    margin-bottom: 48px;
  }

  100% {
    margin-bottom: 64px;
  }
}

.home-page-1 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
  width: 100%;
  background-color: var(--app-background-color);

  border-radius: 0 0 40% 40%;
}

.home-page-1 .part-1 .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: come-in 1s;
  width: 40%;
}

.home-page-1 .part-1 .text-container .title {
  color: var(--app-secondary-color);
  font-size: 3rem;
  font-family: "Lexend";
  font-weight: bold;
}

.home-page-1 .part-1 .text-container .button-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-page-1 .part-1 .text-container .button {
  padding: 16px;
  background-color: #f98f0d;
  border: 2px solid var(--app-secondary-color);
  border-radius: 24px;
  color: var(--app-primary-text-color);
  font-family: "Lexend";
  font-size: 16px;
  transition: all 0.25s;
}

.home-page-1 .part-1 .text-container .button:hover {
  background-color: #e18310;
}

@keyframes come-in {
  0% {
    opacity: 0;
    margin-top: -5vh;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.home-page-1 .part-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100vw;
  height: 40vh;
}

.home-page-1 .part-2 .text-container {
  margin-top: 15vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page-1 .part-2 .text-container .button {
  background-color: transparent;
}

.home-page-1 .part-2 .text-container .button:hover {
  background-color: var(--app-primary-hover-color);
}

.home-page-1 .part-2 .header {
  font-size: 4rem;
}

.home-page-1 .part-2 .header span {
  font-weight: bold;
  color: var(--app-theme-color);
}

/* ! page 2 */

.home-page-2 {
  background-color: #ffffff;
}

/* page 3 */

.home-page-3 {
  padding: 1vw;
}

.home-page-3 .header {
  font-size: 3rem;
  margin-top: 10vh;
  text-shadow: 2px 2px 2px var(--app-grey);
  color: var(--app-primary-text-color);
  text-align: center;
}

.home-page-3 .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10vh;
}

.home-page-3 .container .type-card {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  height: 60vh;
}

.home-page-3 .container .type-card .img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.home-page-3 .container .type-card .title {
  text-align: center;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--app-primary-text-color);
}

.home-page-3 .container .type-card .desc {
  font-weight: 300;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: var(--app-grey);
}

.home-page-3 .container .type-card .button {
  margin-top: 5vh;
}

/* ! page 4 */

.home-page-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-page-4 .header {
  font-size: 4rem;
  text-shadow: 4px 4px 2px rgb(177, 177, 177);
  color: var(--app-primary-text-color);
}
