.learn-page-1 {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.learn-page-1 .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 90vw;
}

.learn-page-1 .row .header {
  font-size: 1.5rem;
  font-weight: 500;
}

.learn-page-1 .row .buttons {
  display: flex;
  gap: 8px;
}

.learn-page-1 .learn-container {
  width: 90vw;
  height: 70vh;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* question area */
/* 
.learn-page-1 .hidden {
  display: none;
} */

.learn-page-1 .learn-container .question-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.learn-page-1 .learn-container .question-container .column {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.learn-page-1 .learn-container .question-container .column .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10vw;
  gap: 8px;
  opacity: 1;

  transition: all 0.25s;
}

.learn-page-1 .learn-container .question-container .column .top.hidden {
  display: none;
}

.learn-page-1 .learn-container .question-container .column .top .label {
  color: var(--app-theme-color);
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.learn-page-1 .learn-container .question-container .column .top .group {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 8px;
}

.learn-page-1 .learn-container .question-container .column .top .group .button {
  background-color: var(--app-theme-color);
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.25s;
}

.learn-page-1
  .learn-container
  .question-container
  .column
  .top
  .group
  .button:hover {
  background-color: var(--app-theme-hover-color);
}

.learn-page-1 .question-container .column .bottom {
  margin-top: 2vw;
}

.learn-page-1 .question-container .column .bottom .button-icon {
  cursor: default;
  pointer-events: none;
  padding: 36px;

  transition: all 0.25s;
}

.learn-page-1 .question-container .column .bottom .button-icon.hidden {
  width: 0px;
  height: 0px;
}

.learn-page-1 .question-container .column .bottom .button-icon .icon {
  font-weight: bold;
  font-size: 20px;
}

.learn-page-1 .question-container .column .bottom .button-icon.hidden .icon {
  display: none;
}

.button-icon#wrong {
  background-color: rgb(231, 48, 48);
}

.button-icon#wrong:hover {
  background-color: rgb(231, 48, 48);
}

.button-icon#correct:hover {
  background-color: rgb(86, 213, 90);
}

.button-icon#correct {
  background-color: rgb(86, 213, 90);
}

.button-icon#unknown:hover {
  background-color: rgb(0, 170, 255);
}

.button-icon#unknown {
  background-color: rgb(0, 170, 255);
  cursor: default;
  pointer-events: none;
}

.learn-page-1 .question-container .top.hidden {
  opacity: 0;
  display: flex;
}

/* middle area */

.learn-page-1 .learn-container .step-2 .answer-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 20vh;
  max-height: 20vh;
  overflow-y: auto;

  width: 30vw;
  gap: 2vw;
}

.learn-page-1 .learn-container .step-2 .answer-group .answer-text {
  text-align: center;
  padding: 6px;
}

.learn-page-1 .learn-container .step-2 .label {
  color: var(--app-theme-color);
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.learn-page-1 .learn-container .step-2 .choose {
  text-align: center;
}

.learn-page-1 .learn-container .step-2 .button-group {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;

  margin-top: 8px;
}

/* answer area */

.learn-page-1 .learn-container .answer-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 12px;
}

.learn-page-1 .learn-container .answer-container .label {
  color: var(--app-theme-color);
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.learn-page-1 .learn-container .answer-container .input-row {
  width: 100%;
  opacity: 1;

  transition: all 0.25s;
}

.learn-page-1 .learn-container .answer-container .input-row.answered {
  display: none;
  opacity: 0;
}

.learn-page-1 .learn-container .answer-container .button-group {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.learn-page-1 .learn-container .answer-container .button-group .button-wide {
  width: 20vw;
  transition: all 0.25s;
}

.learn-page-1
  .learn-container
  .answer-container
  .button-group
  .button-wide.answered {
  width: 40vw;
}
