.my-sets-page-1 .my-sets {
  width: 100vw;
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-left: 2vw;
}

.my-sets-page-1 .my-sets > .title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 0;
  color: var(--app-primary-text-color);
}

.my-sets-page-1 .my-sets .title .icon {
  font-size: 1.2rem;
  color: var(--app-grey);
  cursor: pointer;
}

.my-sets-page-1 .my-sets .decks {
  max-height: 90%;
  width: 100vw;
  flex-wrap: wrap;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1vw;
}

.my-sets-page-1 .my-sets .decks .card {
  flex-basis: 28%;
  width: 28vw;
  height: 25vh;
}
