.new-set-page-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1vw;
}

.new-set-page-1 .header {
  text-align: center;
  font-family: "Lexend";
  font-size: 2.5rem;
  margin: 0;
  color: var(--app-primary-text-color);
}

.new-set-page-1 .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
}

.new-set-page-1 .input-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.new-set-page-1 .input-container .input {
  width: 100%;
  padding: 12px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid var(--app-secondary-color);
  font-family: "Lexend";
  color: var(--app-secondary-color);
  background-color: transparent !important;
  transition: all 0.25s;
  background-color: transparent;
}

.new-set-page-1 .input-container .input:focus {
  border-bottom: 3px solid var(--app-secondary-color);
  outline: none;
  font-size: 16px;
  padding: 8px;
}

.new-set-page-1 .input-container .label {
  text-align: left;
  width: 100%;
  margin: 0;
  padding-bottom: 4px;
  font-size: 18px;
  color: var(--app-secondary-color);
  font-family: "Lexend";
  font-weight: bold;
}

.new-set-page-1 .cards {
  width: 90%;
  border-top: 1px solid var(--app-var(--app-grey));
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-set-page-1 .cards .card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--app-primary-color);
  width: 100%;
  height: 15vh;
  margin-top: 5vh;
  border-radius: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border: 2px solid var(--app-secondary-color);
}

.new-set-page-1 .cards .card-row .label {
  font-weight: normal;
  font-size: 14px;
  color: var(--app-primary-text-color);
}

.new-set-page-1 .card-row .input-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.new-set-page-1 .card-row .number {
  font-weight: bold;
  font-family: "Lexend";
  font-size: 2rem;
  color: var(--app-primary-text-color);
}

.new-set-page-1 .card-row .options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 10vw;
}

.new-set-page-1 .card-row .options .icon {
  border-radius: 0;
  padding: 6px;
  cursor: pointer;
  transition: all 0.25s;
  color: var(--app-primary-text-color);
}

.new-set-page-1 .card-row .options .icon.disabled {
  cursor: auto;
  background-color: #ededed;
  color: var(--app-grey);
}

.new-set-page-1 .card-row .options .icon.disabled:hover {
  background-color: #ededed;
}

.new-set-page-1 .card-row .options .icon:hover {
  background-color: #ccc;
}

.new-set-page-1 .cards .button-glass {
  margin-top: 3vh;
  color: var(--app-primary-text-color);
  border-color: var(--app-primary-text-color);
}

.max {
  font-size: 11px;
  font-weight: normal;
  transition: all 0.25s;
}

.max:hover {
  font-size: 13px;
}
