.not-found-page-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found-page-1 .text-container {
  display: flex;
  flex-direction: column;
}

.not-found-page-1 .text-container .title {
  font-size: 3rem;
  font-family: "Lexend";
  margin: 0;
}

.not-found-page-1 .text-container .subtitle {
  color: var(--app-var(--app-grey));
  font-family: "Lexend";
  text-align: center;
  margin: 1vh;
}

.not-found-page-1 .text-container .button {
  margin-top: 3vh;
}
