.password-strength-meter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 1vh;
}

.password-strength-meter .bar {
  width: 90%;
  display: flex;
  margin: 0;
  padding: 0;
  height: 20px;
  flex-direction: row;
  position: relative;
}

.password-strength-meter .bar::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  transform: scaleX(1);
  transform-origin: bottom right;
  background-color: #00000061;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.password-strength-meter .bar.low::after {
  transform: scaleX(calc((1 / 3) * 2));
}

.password-strength-meter .bar.medium::after {
  transform: scaleX(calc((1 / 3)));
}

.password-strength-meter .bar.strong::after {
  transform: scaleX(calc(0));
}

.password-strength-meter .bar .red {
  width: calc(100% / 3);
  height: 100%;
  background-color: red;
  border-radius: 4px 0 0 4px;
  position: relative;
  transition: all 1s;
}

.password-strength-meter .bar .yellow {
  width: calc(100% / 3);
  height: 100%;
  background-color: yellow;
  position: relative;
}

.password-strength-meter .bar .green {
  width: calc(100% / 3);
  height: 100%;
  background-color: rgb(5, 235, 5);
  border-radius: 0 4px 4px 0;
  position: relative;
}

.password-strength-meter .info {
  margin: 0;
}
