.decks-page-1 {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.decks-page-1.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.decks-page-1.loading .pi {
  font-size: 3rem;
}

.decks-page-1 .header {
  text-align: center;
  font-family: "Lexend";
  color: var(--app-primary-text-color);
}

.decks-page-1 .flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 7%;
}

.decks-page-1 .stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  width: 95%;
  height: 50vh;
  background-color: var(--app-primary-color);
  border-radius: 0;
  border: 1px solid var(--app-var(--app-grey));
  box-shadow: 2px 2px var(--app-shadow);
}

.decks-page-1 .recent-decks {
  width: 95%;
  height: 34vh;
  margin-top: 2vh;
}

.decks-page-1 .recent-decks .subheader {
  color: var(--app-secondary-color);
  font-family: "Lexend";
}

.decks-page-1 .recent-decks .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2vw;
}

.decks-page-1 .recent-decks .cards .card {
  flex-grow: 1;
  flex-basis: calc(33%);
}

.results.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}

.results.loading .pi {
  font-size: 3rem;
}

.results {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1vh;

  width: 90vw;
  min-height: 60vh;
  padding: 1vw;
}

.no-results {
  width: 90vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.results .long-card {
  flex-basis: 100%;
}

@media screen and (max-width: 958px) {
  .decks-page-1 .recent-decks .cards {
    height: 60vh;
    width: 100%;
    flex-direction: column;
  }

  .decks-page-1 .recent-decks .cards .card {
    flex-basis: 100%;
  }
}
