.signup-page-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-page-1 .form {
  width: 30vw;
  height: 65vh;
  border: 1px solid var(--app-grey);
  box-shadow: 2px 2px 5px var(--app-shadow);
  border-radius: 16px;
  background-color: var(--app-primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  animation: come-in 0.5s;
}

.signup-page-1 .form .title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: var(--app-secondary-color);
  font-family: "Avenir";
}

.signup-page-1 .form .input-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.signup-page-1 .form .input-container .input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid var(--app-secondary-color);
  background-color: var(--app-primary-color);
  font-family: "Avenir";
  color: var(--app-secondary-color);
}

.signup-page-1 .form .input-container .input:focus {
  outline: 1px solid var(--app-secondary-color);
}

.signup-page-1 .form .input-container .label {
  text-align: left;
  width: 100%;
  margin: 0;
  padding-bottom: 4px;
  font-size: 14px;
  color: var(--app-grey);
  font-family: "Avenir";
}

.signup-page-1 .form .error {
  color: red;
  font-size: 14px;
  width: 90%;
  text-align: left;
  font-family: "Avenir";
}

.signup-page-1 .form .password-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.signup-page-1 .form .password-input .icon {
  position: absolute;
  right: 10px;
  top: 30%;
  color: var(--app-grey);
  cursor: pointer;
}

@keyframes come-in {
  0% {
    opacity: 0;
    margin-top: -5vh;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}
