.footer {
  background-color: #000;
  border-top: 1px solid var(--app-secondary-color);
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer .logo-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
}

.footer .column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  padding: 2vw;
}

.footer .column.extra {
  justify-content: center;
}

.footer .column .link {
  color: var(--app-primary-color);
  font-family: "Lexend";
  margin: 4px;
  cursor: pointer;
}

.footer .column .link:hover {
  color: #f0d7ff;
  text-decoration: 1px solid #f0d7ff underline;
}

.footer .logo-column .logo {
  color: var(--app-primary-color);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Lexend";
}
