.footer-container {
  position: relative;

  width: 100vw;
  height: 30vh;

  background-color: #000;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 20;

  margin-right: 14px;
}

.footer {
  border-radius: 2000px 2000px 0 0;
  width: 80vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer .logo-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
}

.footer .column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  padding: 2vw;
}

.footer .column.extra {
  justify-content: center;
}

.footer .column .link {
  color: #fff;
  margin: 4px;
  cursor: pointer;
}

.footer .column .link:hover {
  color: #ff8000;
  text-decoration: underline;
}

.footer .logo-column .logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Lexend";
}
