@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&family=Spectral&display=swap");

:root {
  --app-background-color: #f6f6f6;
  --app-primary-color: #ffffff;
  --app-secondary-color: #000;
  --app-grey: grey;
  --app-shadow: rgba(0, 0, 0, 0.5);
}

*::selection {
  background-color: #dfb4fe;
}

body {
  margin: 0;
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--app-background-color);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.page {
  width: 100vw;
  height: 100vh;
}

div.page-1 {
  width: 100vw;
  height: 92vh !important;
}
