@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@300;400;500;600;700;800&family=Spectral&display=swap");
*::selection {
  background-color: #ffbe78;
}

body {
  margin: 0;
  font-family: "Lexend", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.page {
  width: 100vw;
  background-color: var(--app-background-color);
  transition: all 0.25s;

  scroll-behavior: smooth;
}

div.page-1 {
  width: 100vw;
  height: 92vh;
}

div.page:not(.page-1) {
  height: 100vh;
}

.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
