.app-container {
  width: 100vw;
  position: absolute;
  top: 0;
}

.app-container {
  --app-theme-color: rgb(238, 104, 8);
  --app-theme-hover-color: rgb(212, 93, 8);
  --app-theme-secondary-color: rgb(43, 106, 9);
  --app-theme-secondary-hover-color: rgb(31, 75, 7);
}

.app-container.light-theme {
  background-color: #f6f6f6;

  --app-background-color: #f6f6f6;
  --app-background-color-trans: #f6f6f6b0;
  --app-primary-color: #ffffff;
  --app-primary-hover-color: #f1f1f1;
  --app-secondary-color: #000;
  --app-primary-text-color: #000;
  --app-secondary-text-color: #ffffff;
  --app-grey: rgb(136, 136, 136);
  --app-light-grey: rgb(218, 218, 218);
  --app-shadow: rgba(0, 0, 0, 0.5);
  --app-light-orange: #ffad7a;
  --app-disabled: #ffcfac;
}

.app-container.dark-theme {
  background-color: #303030;

  --app-background-color: #303030;
  --app-background-color-trans: #3030309d;
  --app-primary-color: #000;
  --app-primary-hover-color: #1f1f1f;
  --app-secondary-color: #fff;
  --app-primary-text-color: #ffffff;
  --app-secondary-text-color: #000;

  --app-grey: lightgrey;
  --app-shadow: rgba(0, 0, 0, 0.5);
  --app-light-orange: #ff583b;
  --app-disabled: #ffacac;
}
