.accordion {
  width: 100vw;
  margin-right: 15px;
  padding-right: 15px;
}

.accordion .top-bar {
  width: 100%;
  height: 50px;

  padding: 12px 24px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 0;

  border: none;
  border-radius: 0;

  transition: all 0.25s;
  cursor: pointer;
}

.accordion .top-bar .title {
  font-family: "Lexend";
  font-weight: 500;
}

.accordion .top-bar:hover {
  background-color: lightgrey;
}

.accordion .top-bar.active {
  background-color: lightgrey;
}

.accordion .top-bar.active:hover {
  background-color: rgb(202, 202, 202);
}

.accordion .content.hidden {
  display: none;
}

.accordion .content {
  padding: 12px 24px;
}
